@use '../../../theme/index.scss' as *;

@include b(copy) {
  display: flex;
  align-items: center;
  gap: 10px;

  @include e(icon) {
    cursor: pointer;
  }

  @include e(animation) {
    cursor: pointer;
    font-size: 14px;
    color: #4caf50;
    animation: fadeInOut 2s ease-in-out;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
